// $green-accent: #3bb99b;
// $green-accent-hover-bg: #35a88d;
// $green-accent-hover-border: #2d947c;
// $green-accent-focus-box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
$heading-color: #0d0a0b;
$text-color: #5f5f5f;
$black-background: #0a0809;
$link-color: #363636;

$heading-font: 'Poppins', sans-serif;
//$text-font: 'Roboto', sans-serif;

$primary: #ffffff;

$secondary: #f34236;
$secondary-light: #f0746b;
$secondary-accent-hover-bg: #e21134;
$secondary-accent-hover-border: #e21134;
$secondary-accent-focus-box-shadow: (0 0 0 0.25rem rgb(170 20 20 / 50%));

$tertiary: #db995a;
$tertiary-light: #f9e9da;
$tertiary-accent-hover-bg: #da8f4a;
$tertiary-accent-hover-border: #da8f4a;
$tertiary-accent-focus-box-shadow: #da8f4a;
