.hero {
	background-color: #000;
	padding: 80px 0 40px 0;
	position: relative;

	&__bg-image {
		opacity: 0.33;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@media screen and (min-width: 1100px) {
			top: -100px;
		}

		@media screen and (min-width: 1300px) {
			top: -200px;
		}

		@media screen and (min-width: 1600px) {
			top: -300px;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
	}
}

@media screen and (min-width: 530px) {
	.hero {
		padding: 175px 0 130px 0;
	}
}
